<!DOCTYPE html>
<html>
<body>

<ol id="olFrames"></ol>

<!--https://cwestblog.com/2017/05/03/javascript-snippet-get-video-frame-as-an-image/-->
<script type="text/JavaScript">
function getVideoImage(path, secs, callback) {
  var me = this, video = document.createElement('video');
  video.onloadedmetadata = function() {
    if ('function' === typeof secs) {
      secs = secs(this.duration);
    }
    this.currentTime = Math.min(Math.max(0, (secs < 0 ? this.duration : 0) + secs), this.duration);
  };
  video.onseeked = function(e) {
    var canvas = document.createElement('canvas');
    canvas.height = video.videoHeight;
    canvas.width = video.videoWidth;
    var ctx = canvas.getContext('2d');
    ctx.drawImage(video, 0, 0, canvas.width, canvas.height);
    var img = new Image();
    img.src = canvas.toDataURL();
    callback.call(me, img, this.currentTime, e);
  };
  video.onerror = function(e) {
    callback.call(me, undefined, undefined, e);
  };
  video.src = path;
}

getVideoImage(
    'demo.mp4',
    0,
    function(img, secs, event) {
      if (event.type == 'seeked') {
        var li = document.createElement('li');
        li.appendChild(img);
        document.getElementById('olFrames').appendChild(li);
      }
    }
  );

</script>

</body>
</html>