<!DOCTYPE html>
<html>
	<head>

		<style>
			body{
				background-size: 1040px;
				background-repeat: no-repeat; /* you know... don't repeat... */
				background-position: center center; /*center the background */
				background-attachment: fixed; /*don't scroll with content */
				sbackground-color:#FFFDCE;
			}
		</style>
	</head>

	<body>
		<p align="center"><a href=vmd_timestamp ><button class=grey style="height:75px;width:150px">vmd timestamp</button></a></p>
		<!-- <a href="videopage.html">
			<div style = "position:fixed; left:45.5%; top:85%;">
			<img src="assets/start_button.png" height="50" width="auto">
			</div> -->
		<!-- </a> -->
		<!-- <a href="http://localhost:5000/homepage/">
			<div style = "position:fixed; ">
			<img src="assets/logo.png" height="140" width="auto">
			</div> -->
		<!-- </a> -->
	</body>

</html>