<!DOCTYPE html>
<html>
	<head>

		<style>
			body{
				background-size: 1040px;
				background-repeat: no-repeat; /* you know... don't repeat... */
				background-position: center center; /*center the background */
				background-attachment: fixed; /*don't scroll with content */
				sbackground-color:#FFFDCE;
			}
		</style>
	</head>

	<body>
		<a href="homepage.html">
			<div style = "position:fixed; ">
			<img src="assets/logo.png" height="140" width="auto">
			</div>
		</a>
	</body>

   <!-- <video controls loop autoplay>
     <source type="video/mp4" src="demo.mp4" />
   </video> -->

   <body>
		<div class="container">
			<div class="row">
				<div class="col-lg-8  offset-lg-2">
					<h3 class="mt-5">Live Streaming</h3>
					<img src="{{ url_for('video_feed') }}" width="60%">
				</div>
			</div>
		</div>
	</body>

	<body>
		<a href=capture>
			<div style = "position:fixed; ">
				Label line up spots
			</div>
		</a>
	</body>

</html>